{{#if shouldDisplay}}
<div class="custom-search-banner">
  <div class="wrap custom-search-banner-wrap">
    <h1>{{theme-i18n "search_banner.headline"}}</h1>
    <p>{{theme-i18n "search_banner.subhead"}}</p>
    {{mount-widget widget="search-widget"}}
    <div class="suggestion">
      <p>Suggestions : </p>
      <a href="/c/creating-surveys/88?preview_theme_id=49">Creating Surveys</a>
      <a href="/c/how-tos/86?preview_theme_id=49">how-tos</a>
      <a href="/c/email/54?preview_theme_id=49">Email</a>
    </div>
  </div>
</div>
{{/if}}